@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');


body{
    background-color: #F2F2F2;
    margin: 0 0 0 0;
    font-family: 'Oi', cursive;
}

.links{
    margin-top: 40px;
    font-size: 0.75rem;
    text-align: right;
    color: yellow;
}

.links a { 
color: green;
padding-left: 10px;
padding-right: 10px;
text-decoration: none;
}
